.header{
    width: 100%;
    height: 65px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 30px;
    position: sticky;
    top: 0;
    background-color: white;
}
.blackheader{
    background-color: #8f8f8f;
    transition: all 600ms;
}
.header-heading{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.header-btn{
    display: flex;
    gap: 10px;
}
.header-start-selling{
    background-color: #000;
    border-radius: 50px;
    color: white;
    padding: 10px 30px;
    height: 40px;
    border: 1px solid black;
    cursor: pointer;
}
.login-header-btn{
    background-color: white;
    border: 1px solid black;
    padding: 5px 40px;
    height: 39px;
    cursor: pointer;
    color: #000;
    border-radius: 50px;
    transition: all 300ms;
}
.login-header-btn:hover{
    background-color: black;
    color: white;
}
.login-div{
    position: absolute;
    top: 107%;
    right: 2%;
    height: 34vh;
    width: 20vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    /* background-color: black; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    input{
        padding: 5px 10px;
        font-size:20px;
    }
}
.login-text{
    font-size: 20px;
    font-family: "Josephin Sans",sans-serif;
    font-weight: 300;
}
.login-btn{
    align-self: center;
    background-color: #000;
    padding: 12px 30px;
    width: 60%;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.close-login{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;
    cursor: pointer;
}
.forgot{
    font-size: 12px;
    margin-top: -5px;
}
.user-name{
    font-size: 17px;
    font-family: "josephin Sans",sans-serif;
}
@media (max-width:520px){
    .login-header-btn{
        display: none;
    }
    .header-start-selling{
        padding: 5px 16px;
    }

    .header-heading{
        font-size: 16px;
    }
}